#Packages
import pandas as pd
from scipy.stats import zscore
import numpy as np
from sklearn import preprocessing
import ipywidgets as widgets
from urllib.request import urlopen
import matplotlib.pyplot as plt
from PIL import Image
from mplsoccer import PyPizza, add_image, FontManager
from highlight_text import fig_text
import warnings
import streamlit as st